<h1>
	<a href="/" title="Casey's Technical Blog">Casey's Technical Blog</a>
	<span class="byline">&larr; <a href="/">Casey Stella</a></span>
</h1>
<ul class="nav">
  <li><a class="home" href="http://www.caseystella.com">Home</a></li>
  <li><a class="blog" href="http://blog.caseystella.com">Blog</a></li>
  <li><a class="resume" href="http://www.caseystella.com/resume">Resumé</a></li>
  <li><a class="info" href="http://www.caseystella.com/about">About</a></li>
  <li><a class="past" href="http://blog.caseystella.com/past.html">Past</a></li>
</ul>
